

*{
    margin: 0px;
    padding: 0px;
}
a:link {
    text-decoration: none;
    
}
.containter{
display: flex;
justify-content: space-around;
background-color: #9b9898;
color: white;
padding: 20px;
}
.items{
    display: flex;
    
}
.a{
    font-size: 22px;
    font-weight: bold;
    padding: 5px;
    margin-right: 10px;

  

}
ul li{
    list-style: none;
    
}
a{
    color: white;
}
 .banner{
 
   width: 100%;
   height: 100vh;
   background-image: url('/digital-agency-main/asset/image/background.jpg'),
   linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.4));
   background-blend-mode: overlay;
   background-repeat: no-repeat;
   background-position: center;
   text-align: center;
   justify-content: center;
   align-items: center;
   margin: auto;
   display: flex;
   color: white;
   font-weight: bold;
 }
.bf{font-size: 85px;}
.aa{
    color:rgb(240,12,12);
}
.pt{
    font-size: 22px;
    width: 50%;
    margin: auto;
    padding: 10px;
}
.btn1{
    padding: 15px 35px;
    background-color: red;
    border: none;
    font-size: 18px;
    color: white;
    margin: 5px;
}
.btn2{
    padding: 15px 35px;
   color: red;
   background-color: white;
   font-size: 18px;
   margin: 5px;
   border: none;
}

  
